#title {
    text-align: center;
    color: rgb(107, 24, 10);
    margin: 40px 0 0 0;
    font-family: fantasy;

}


#canvas div {
    border-radius: 200px;
    position: absolute;
}

body {
    background: rgb(231, 117, 41)
}


#circle {
    height: 400px;
    width: 400px;
    background-color: red;
    animation:
        pulse 3s ease infinite alternate,
        nudge 5s linear infinite alternate;
    border-radius: 100%;
}


@keyframes pulse {

    0% {
        background-color: black;
    }

    25% {
        background-color: brown;

    }


    50% {
        background-color: red;
    }

    75% {
        background-color: orange;
    }

    100% {
        background-color: white;
    }
}

@keyframes nudge {

    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(100vw, 0);
    }

}


html,
body {
    height: 100%;
}

#circle {
    display: flex;
    align-items: center;
    justify-content: center;
}